#
# This is a sample blacklist file for update.blacklist
#
# The format of this file is as follows:
#
#   * Any line beginning with a '#' sign is a comment, and will be ignored
#   * All leading and trailing whitespace is ignored
#   * Blank lines are ignored
#   * Any remaining data is considered blacklist entries in the following formats:
#
#      # Blacklist any tag or branch named "foo"
#      foo
#
#      # Blacklist the commit object "4b18c65".  A minimum of 7 characters are required.
#      :4b18c65
#
#      # Blacklist commit object "4b18c65" from branch or tag "foo".  This commit
#      # may still be pushed to other branches or tags.
#      foo:4b18c65
#
#   * Comments following entries will be displayed to the user as a reason for
#     the deny
#
#      foo # Sorry, branch foo has been removed
#
